.user-card-wp {
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px);
  width: 400px;
  height: 200px;
  overflow: hidden;
  display: flex;
  gap: 5px;
  align-items: center;
  @media (max-width: 767px) {
    width: 200px;
    height: 150px;
    left: calc(50% - 100px);
    @media (max-width: 500px) {
      height: 100px;
    }
  }
  @media (max-width: 500px) {
    left: calc( 10px);
  }
  .user-hand-cards {
    width: 140px;
    height: 200px;
    margin: 50px auto;
    position: absolute;
    bottom: -100px;
    left: calc(50% - 70px);
    @media (max-width: 767px) {
      width: 70px;
      height: 100px;
      bottom: -70px;
      left: calc(50% - 35px);
    }
  }

  .item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 50% 200% 0;
    transition: 0.5s;
    .card-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: rgba(3, 3, 3, 0.2);
    }
    img {
      width: 140px;
      @media (max-width: 767px) {
        width: 70px;
      }
    }
  }

  .item:nth-of-type(1) {
    transform: rotate(-15deg);

    &.active:hover {
      transform: rotate(-15deg) translateY(-20px);
    }
    &.active.selected {
      transform: rotate(-15deg) translateY(-20px);
    }
    &.active.blocked {
      transform: rotate(-15deg) !important;
    }
  }

  .item:nth-of-type(2) {
    transform: rotate(0deg);

    &.active:hover {
      transform: rotate(0deg) translateY(-20px);
    }
    &.active.selected {
      transform: rotate(0deg) translateY(-20px);
    }
    &.active.blocked {
      transform: rotate(0deg) !important;
    }
  }

  .item:nth-of-type(3) {
    transform: rotate(15deg);

    &.active:hover {
      transform: rotate(15deg) translateY(-20px);
    }
    &.active.selected {
      transform: rotate(15deg) translateY(-20px);
    }
    &.active.blocked {
      transform: rotate(15deg) !important;
    }
  }

  .item.active:hover {
    cursor: pointer;
  }

}
.user-panel-menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #FFFFFF;
  position: absolute;
  bottom: 30px;
  right: 30px;
  @media (max-width: 767px) {
    bottom: 10px;
    right: 10px;
  }
  .balance-wp {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .balance {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .user-card-move-btn {
    margin-left: auto;
    width: fit-content;
    display: flex;
    gap: 10px;
    .bid-user-hand {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .active-hand-card {
      img {
        width: 100px;
        @media (max-width: 900px) {
          width: 50px;
        }
        @media (max-width: 500px) {
          width: 50px;
        }
      }
    }
    .player-card-game-win {
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background: green;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 4px;
    }
  }
}
