.home-tab-switch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px 0px 0px 4px;

  .home-tab-switch-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #EBC57A;
    color: #FFFFFF;
    height: 40px;
    cursor: pointer;

    &.active {
      background: #EBC57A;
      cursor: unset;
    }
  }
}